name: S3 Bucket Create & Upload

on:
  push:
    branches: [ "main" ]

jobs:
  s3-job:
    runs-on: self-hosted  # EC2 runner

    env:
      BUCKET_NAME: my-bucket-${{ github.run_id }}
      ENV: prod  # dev / stage / prod

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install AWS CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y awscli

      - name: Check if Bucket Exists
        id: check_bucket
        run: |
          if aws s3api head-bucket --bucket $BUCKET_NAME 2>/dev/null; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

      - name: Create Bucket (If Not Exists)
        if: steps.check_bucket.outputs.exists == 'false'
        run: |
          echo "Bucket does not exist. Creating..."
          aws s3api create-bucket --bucket $BUCKET_NAME --region us-east-1

      - name: Enable Versioning (Only for PROD)
        if: env.ENV == 'prod'
        run: |
          aws s3api put-bucket-versioning \
            --bucket $BUCKET_NAME \
            --versioning-configuration Status=Enabled

      - name: Upload Files to S3
        run: |
          aws s3 cp ./files/ s3://$BUCKET_NAME/ --recursive
