name: Build and Push to DockerHub

on:
  push:
    branches: [ "main" ]

jobs:
  docker-build-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/nginx-demo:latest .
          docker tag ${{ secrets.DOCKERHUB_USERNAME }}/nginx-demo:latest \
                     ${{ secrets.DOCKERHUB_USERNAME }}/nginx-demo:${{ github.sha }}

      - name: Push Images
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/nginx-demo:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/nginx-demo:${{ github.sha }}
